<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.user.user.dao.CircleMapper">

    <resultMap id="Circle" type="com.coolplay.user.user.model.CircleModel">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="circleName" column="circle_name"/>
        <result property="circleDesc" column="circle_desc"/>
        <result property="circleType" column="circle_type"/>
        <result property="reason" column="reason"/>
        <result property="backgroudImg" column="backgroud_img"/>
        <result property="memberCnt" column="member_cnt"/>
        <result property="likeCnt" column="like_cnt"/>
        <result property="shareCnt" column="share_cnt"/>
        <result property="commentCnt" column="comment_cnt"/>
        <result property="readCnt" column="read_cnt"/>
        <result property="applicationTime" column="application_time"/>
        <result property="reviewTime" column="review_time"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="status" column="status"/>
        <result property="rejectReason" column="reject_reason"/>
        <result property="companyId" column="company_id"/>
        <result property="disabled" column="disabled"/>
        <result property="ctime" column="c_time"/>
		<result property="postId" column="post_id"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,user_id ,circle_name ,circle_desc ,circle_type ,reason ,backgroud_img ,member_cnt ,like_cnt ,share_cnt ,comment_cnt ,read_cnt ,application_time ,review_time ,review_status ,status ,reject_reason ,company_id ,disabled ,c_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="circleName != null">
				AND circle_name = #{circleName}
			</if>
			<if test="circleDesc != null">
				AND circle_desc = #{circleDesc}
			</if>
			<if test="reason != null">
				AND reason = #{reason}
			</if>
			<if test="backgroudImg != null">
				AND backgroud_img = #{backgroudImg}
			</if>
			<if test="rejectReason != null">
				AND reject_reason = #{rejectReason}
			</if>
			<if test="reviewStatus != null">
				AND review_status = #{reviewStatus}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="disabled != null">
				AND disabled = #{disabled}
			</if>
			<if test="ids != null">
				AND id IN
				<foreach collection="ids" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Circle">
	    SELECT <include refid="columns"/> FROM d_circle 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="Circle" >
		SELECT <include refid="columns"/>
		FROM d_circle WHERE id = #{id}
	</select>

	<select id="findByUserId" resultType="java.lang.Integer">
		SELECT id FROM d_circle
		WHERE user_id = #{userId} AND review_status = 1 AND status = 1 AND disabled = 0
	</select>

	<select id="findByPostIds" resultMap="Circle" >
		SELECT c.id, c.circle_name, cp.post_id
		FROM d_circle c INNER JOIN d_circle_post cp ON c.id = cp.circle_id
		WHERE cp.post_id IN
			<foreach collection="postIds" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		AND c.review_status = 1 and c.status = 1 and c.disabled = 0
	</select>

	<select id="findCircleIdsByLabelName" resultType="java.lang.Integer">
		select c.id from d_circle c inner join d_circle_label cl on c.id = cl.circle_id inner join d_label l on l.id = cl.label_id and l.cat_id = 3 and l.label_name like '${labelName}'
	</select>

	<select id="findByIds" resultMap="Circle" >
		SELECT <include refid="columns"/>
		FROM d_circle WHERE id IN
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findCntByCircleModel" resultType="java.lang.Integer">
		select count(1) from d_circle c
		INNER JOIN d_circle_label cl on c.id = cl.circle_id
		INNER JOIN d_label l on cl.label_id = l.id
		where c.disabled = 0 AND c.review_status = 1 AND c.status = 1 AND c.circle_type = 1
		<if test="circleModel.circleName != null">
			AND (c.circle_name like '${circleModel.circleName}'
			OR l.label_name like '${circleModel.circleName}')
		</if>
		<if test="circleModel.userId != null">
			AND c.user_id = #{circleModel.userId}
		</if>
	</select>

	<select id="findPageByCircleModel" resultMap="CompanyCircle">
		select c.* from d_circle c
		INNER JOIN d_circle_label cl on c.id = cl.circle_id
		INNER JOIN d_label l on cl.label_id = l.id
		where c.disabled = 0 AND c.review_status = 1 AND c.status = 1 AND c.circle_type = 1
		<if test="circleModel.circleName != null">
			AND (c.circle_name like '${circleModel.circleName}'
			OR l.label_name like '${circleModel.circleName}')
		</if>
		<if test="circleModel.userId != null">
			AND c.user_id = #{circleModel.userId}
		</if>
		ORDER BY c.c_time DESC
		limit #{limit}, #{offset}
	</select>

</mapper>

