<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.user.user.dao.CircleMemberMapper">

    <resultMap id="CircleMember" type="com.coolplay.user.user.model.CircleMemberModel">
        <result property="id" column="id"/>
        <result property="circleId" column="circle_id"/>
        <result property="memberUserId" column="member_user_id"/>
        <result property="reviewStatus" column="review_status"/>
		<result property="status" column="status"/>
        <result property="reviewReason" column="review_reason"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,circle_id ,member_user_id ,review_status , status, review_reason ,c_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="reviewReason != null">
				AND review_reason = #{reviewReason}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="CircleMember">
	    SELECT <include refid="columns"/> FROM d_circle_member 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="CircleMember" >
		SELECT <include refid="columns"/>
		FROM d_circle_member WHERE id = #{id}
	</select>

	<select id="findByMemberUserId" resultType="java.lang.Integer">
		SELECT circle_id FROM d_circle_member WHERE member_user_id = #{memberUserId} AND review_status = 1 AND status = 1
	</select>

	<select id="findByCircleIds" resultMap="CircleMember">
		SELECT <include refid="columns"/> FROM d_circle_member
		WHERE review_status = 1 AND status = 1 AND circle_id IN
		<foreach collection="circleIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findCircleIdsByUserIdAndCircleIds" resultType="java.lang.Integer">
		SELECT circle_id FROM d_circle_member
		WHERE review_status = 1 AND status = 1 AND member_user_id = #{currUserId} AND circle_id IN
		<foreach collection="circleIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findReviewMemberCntByCircleIds" resultType="java.util.Map">
		SELECT circle_id, COUNT(1) AS cnt FROM d_circle_member
		WHERE review_status = 0 AND circle_id IN
		<foreach collection="circleIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		GROUP BY circle_id
	</select>

	<update id="updateByCircleIdMemberUserId">
		UPDATE d_circle_member SET review_status = #{reviewStatus}, status = #{status} WHERE circle_id = #{circleId} AND member_user_id = #{memberUserId}
	</update>

	<delete id="delByCircleIdAndMemberUserId">
		DELETE FROM d_circle_member WHERE circle_id = #{circleId} AND member_user_id = #{memberUserId}
	</delete>

	<select id="findMemberUserIdsByCircleId" resultType="java.lang.Integer">
		SELECT member_user_id FROM d_circle_member WHERE circle_id = #{circleId}
	</select>
</mapper>

