<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.user.user.dao.LabelMapper">

    <resultMap id="Label" type="com.coolplay.user.user.model.LabelModel">
        <result property="id" column="id"/>
        <result property="catId" column="cat_id"/>
        <result property="labelName" column="label_name"/>
        <result property="creator" column="creator"/>
        <result property="status" column="status"/>
        <result property="isDel" column="is_del"/>
		<result property="ctime" column="c_time"/>
		<result property="postId" column="post_id"/>
		<result property="circleId" column="circle_id"/>
		<result property="userId" column="user_id"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,cat_id ,label_name ,creator ,status ,is_del ,c_time 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="labelName != null">
				AND label_name = #{labelName}
			</if>
			<if test="creator != null">
				AND creator = #{creator}
			</if>
			<if test="isDel != null">
				AND is_del = #{isDel}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Label">
	    SELECT <include refid="columns"/> FROM d_label 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="Label" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_label
	        WHERE
		        id = #{id} 
	    ]]>
	</select>

	<select id="findByPostIds" resultMap="Label">
		SELECT l.id, l.label_name, pl.post_id
		FROM d_label l
		INNER JOIN d_post_label pl ON l.id = pl.label_id
		WHERE l.is_del = 0 AND l.status = 1 AND pl.post_id IN
		<foreach collection="postIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findByCircleIds" resultMap="Label">
		SELECT l.id, l.label_name, cl.circle_id
		FROM d_label l
		INNER JOIN d_circle_label cl ON l.id = cl.label_id
		WHERE l.is_del = 0 AND l.status = 1 AND cl.circle_id IN
		<foreach collection="circleIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findByUserIds" resultMap="Label">
		SELECT l.id, l.label_name, ul.user_id
		FROM d_label l
		INNER JOIN d_user_label ul ON l.id = ul.label_id
		WHERE l.is_del = 0 AND l.status = 1 AND ul.user_id IN
		<foreach collection="userIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findByBaseIds" resultMap="Label">
		SELECT l.id, l.label_name, bl.base_id
		FROM d_label l
		INNER JOIN d_coolplay_base_label bl ON l.id = bl.label_id
		WHERE l.is_del = 0 AND l.status = 1 AND bl.coolplay_base_id IN
		<foreach collection="baseIds" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>

