<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.user.user.dao.PostMapper">

    <resultMap id="Post" type="com.coolplay.user.user.model.PostModel">
        <result property="id" column="id"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="userId" column="user_id"/>
        <result property="imgUrls" column="img_urls"/>
        <result property="videoUrl" column="video_url"/>
        <result property="videlPath" column="videl_path"/>
		<result property="isTop" column="is_top"/>
		<result property="longitude" column="longitude"/>
		<result property="latitude" column="latitude"/>
        <result property="likeCnt" column="like_cnt"/>
        <result property="shareCnt" column="share_cnt"/>
        <result property="commentCnt" column="comment_cnt"/>
        <result property="readCnt" column="read_cnt"/>
		<result property="thumbUpCnt" column="thumb_up_cnt"/>
		<result property="collectCnt" column="collect_cnt"/>
        <result property="isDel" column="is_del"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,post_title ,post_content ,user_id ,img_urls ,video_url ,videl_path ,is_top , longitude, latitude, like_cnt ,share_cnt ,comment_cnt ,read_cnt ,thumb_up_cnt ,collect_cnt, is_del ,c_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="postTitle != null">
				AND post_title = #{postTitle}
			</if>
			<if test="postContent != null">
				AND post_content = #{postContent}
			</if>
			<if test="imgUrls != null">
				AND img_urls = #{imgUrls}
			</if>
			<if test="videoUrl != null">
				AND video_url = #{videoUrl}
			</if>
			<if test="videlPath != null">
				AND videl_path = #{videlPath}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Post">
	    SELECT <include refid="columns"/> FROM d_post 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="Post" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_post
	        WHERE
		        id = #{id}
	    ]]>
	</select>

	<update id="columnPlusNumber">
		UPDATE d_post SET ${columnName} = ${columnName} + #{num} WHERE id = #{id}
	</update>

	<select id="findByCircleId" resultMap="Post">
		SELECT p.id ,p.post_title ,p.post_content ,p.user_id ,p.img_urls ,p.video_url ,p.videl_path ,p.is_top ,p.like_cnt ,p.share_cnt ,p.comment_cnt ,p.read_cnt ,p.thumb_up_cnt ,p.collect_cnt, p.is_del ,p.c_time
		FROM d_post p
		INNER JOIN d_circle_post cp ON p.id = cp.post_id
		WHERE cp.circle_id = #{circleId} AND p.is_del = 0 ORDER BY cp.is_top DESC, p.c_time DESC
	</select>

	<select id="findByIds" resultMap="Post">
		SELECT <include refid="columns"/> FROM d_post
		WHERE id IN
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findPostIdsByLabelName" resultType="java.lang.Integer">
		select c.id from d_circle c inner join d_post_label pl on c.id = pl.post_id inner join d_label l on l.id = pl.label_id and l.cat_id = 5 and l.label_name like '${labelName}'
	</select>

	<select id="findCntByPostModel" resultType="java.lang.Integer">
		select count(1) from d_post p
		INNER JOIN d_post_label pl on p.id = pl.post_id
		INNER JOIN d_label l on pl.label_id = l.id
		where is_del = 0
		<if test="postContent != null">
			AND (p.post_content like ${postContent}
			OR l.label_name like ${postContent})
		</if>
		<if test="userId != null">
			AND p.user_id = #{userId}
		</if>
	</select>

	<select id="findPageByPostModel" resultMap="Post">
		select p.* from d_post p
		INNER JOIN d_post_label pl on p.id = pl.post_id
		INNER JOIN d_label l on pl.label_id = l.id
		WHERE is_del = 0
		<if test="postContent != null">
			AND (p.post_content like ${postContent}
			OR l.label_name like ${postContent})
		</if>
		<if test="userId != null">
			AND p.user_id = #{userId}
		</if>
		ORDER BY p.is_top DESC, p.top_time DESC
		limit #{limit}, #{offset}
	</select>
	
</mapper>

