<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 工作的bean -->
    <bean id="weatherDataTask" class="com.coolplay.user.common.task.WeatherDataTask">
    </bean>

    <bean id="esDataTask" class="com.coolplay.user.common.task.EsDataTask" />

    <!-- 增量更新天气信息 -->
    <bean id="weatherDataFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="weatherDataTask"></property>
        <property name="targetMethod" value="syncWeatherPictureInfo"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="weatherDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="weatherDataFactoryBean"></property>
        <property name="cronExpression" value="0 0 0/6 * * ?"></property>
    </bean>

    <!-- 增量每分钟更新天气信息 -->
    <bean id="minuteWeatherDataFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 设置任务执行对象 -->
        <property name="targetObject" ref="weatherDataTask"></property>
        <!-- 设置任务执行对象中对应的执行方法 -->
        <property name="targetMethod" value="syncMinuteWeatherPictureInfo"></property>
        <!-- 设置任务是否可并发执行，默认为不并发 -->
        <property name="concurrent" value="false"></property>
    </bean>

    <!-- 2.任务触发器 -->
    <bean id="minuteWeatherDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 设置任务详细信息 -->
        <property name="jobDetail" ref="minuteWeatherDataFactoryBean"></property>
        <!-- 设置quartz任务执行表达式 ,每隔三秒执行一次任务-->
        <property name="cronExpression" value="0 0/5 * * * ?"></property>
    </bean>

    <!-- 增量每分钟更新俱乐部和基地ES信息 -->
    <bean id="minuteEsBaseDataFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 设置任务执行对象 -->
        <property name="targetObject" ref="esDataTask"></property>
        <!-- 设置任务执行对象中对应的执行方法 -->
        <property name="targetMethod" value="syncEsData"></property>
        <!-- 设置任务是否可并发执行，默认为不并发 -->
        <property name="concurrent" value="false"></property>
    </bean>

    <!-- 2.任务触发器 -->
    <bean id="minuteEsBaseDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 设置任务详细信息 -->
        <property name="jobDetail" ref="minuteEsBaseDataFactoryBean"></property>
        <!-- 设置quartz任务执行表达式 ,每隔三秒执行一次任务-->
        <property name="cronExpression" value="0 0/1 * * * ?"></property>
    </bean>s

    <!-- 调度工厂 -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="weatherDataTrigger" />
                <ref bean="minuteWeatherDataTrigger" />
                <ref bean="minuteEsBaseDataTrigger" />
            </list>
        </property>
    </bean>

</beans>
